<h1>Jogos</h1>

<% @jogos.each do |jogo| %>
  <div class="article">
	  <%# @resposta = Resposta.find(jogo.resultados[0].resposta_id) %>
	  <% str = "(" + jogo.id.to_s + ") " + jogo.dia + " " + jogo.hora %>
	  <h2><%= link_to str, jogo %></h2>
	  

  </div>
<% end %>


<p><%= link_to 'Novo Jogo', new_jogo_path %></p>
