<h1>Usuários</h1>

<table class="table table-hover">
  	<thead>
      <tr>
        <th>#</th>
        <th>Apelido</th>
        <th>Pontos criador</th>
		<th>Pontos jogador</th>
      </tr>
    </thead>
    <tbody>
		<% @usuarios.each do |usuario| %>
		<tr>
			<td> <%= usuario.id %> </td>
			<td><%= link_to usuario.username, usuario %></td>
			<td><%= usuario.scorecreator %> </td>
			<td><%= usuario.scoreplayer%> </td>
		</tr>
		<% end %>
    </tbody>
  </table>


